@mixin bgGolden{
    background: linear-gradient(51deg, #997300 0%, #AC8200 12.33%, #B18500 24.39%, #836300 36.46%, #E5C150 58.33%, #F2D067 75%, #FFE597 87.76%, #FFF 99.50%);
}
@mixin colorGolden{
    color: #B18500;
}

@mixin bgBlue {
background: #5CCDE0;
}

@mixin borderBlue{
    border: 6px solid #5CCDE0;
}

@mixin bgRed {
background: #E96E6E;
}

@mixin borderRed{
    border: 6px solid #E96E6E;
}

@mixin bgGreen {
background: #A0CD63;
}

@mixin borderGreen{
    border: 6px solid #A0CD63;
}

@mixin bgOrange {
background: #FF6F02;
}

@mixin colorOrange {
color: #FF6F02;
}

@mixin borderOrange{
border: 1px solid #FF6F02;
}

@mixin pad {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile{
	@media(max-width: 375px){
		@content
	}
}



